@page "/login"
@using ConfigurationTool.Model
@using ConfigurationTool.Utils
@using Blazored.LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService Localstorage;
@inject NavigationManager Navigation;
@inject IStringLocalizer<ApplicationResource> _localizer

<PageTitle>Login</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">Login</MudText>
<MudGrid>
    <MudItem xs="12" sm="7" gap-y-4>
        <AuthorizeView>
            <Authorized>
                <MudAlert Severity="Severity.Error" Variant="Variant.Outlined">@_localizer["AlreadyLoggedIn"]</MudAlert>
            </Authorized>
        </AuthorizeView>
        <MudPaper Class="pa-4">
            <MudForm @bind-IsValid="@_success" @ref="_form">
                <MudTextField T="string" Label="Email" Required="true" @ref="_id" RequiredError=@_localizer["EmailRequired"]/>
                <MudTextField T="string" Label=@_localizer["Password"] Required="true" @ref="_pw" RequiredError=@_localizer["PasswordRequired"]/>
                <div class="d-flex align-center justify-space-between">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success)" Class="ml-auto" OnClick="HandleLogin">Login</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    bool _success;
    MudForm _form;
    MudTextField<string> _pw;
    MudTextField<string> _id;

    async Task HandleLogin()
    {
        var user = new UserLoginDto
        {
            UserIdentificator = _id.Value,
            Password = _pw.Value
        };

        var token = await HttpUtils.Post<string>("authentication", user);

        if (string.IsNullOrEmpty(token))
        {
            _success = false;
            StateHasChanged();
            return;
        }

        await Localstorage.SetItemAsync("token", token);
        await Localstorage.SetItemAsync("email", user.UserIdentificator);
        await AuthStateProvider.GetAuthenticationStateAsync();
        Navigation.NavigateTo("/");
    }
}