@page "/settings"
@using System.Globalization
@inject HttpClient Http
@inject IStringLocalizer<ApplicationResource> _localizer
<PageTitle>@_localizer["Settings"]</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">@_localizer["Settings"]</MudText>

<strong>Sprache:</strong>
<select class="form-control" @bind="Culture" style="width:300px; margin-left:10px; outline-color: black;">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>
@code
{
    CultureInfo[] cultures = new[]
    {
        new CultureInfo("en"),
        new CultureInfo("de")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                Thread.CurrentThread.CurrentCulture = value;
                Thread.CurrentThread.CurrentUICulture = value;
                CultureInfo.DefaultThreadCurrentCulture = value;
                CultureInfo.DefaultThreadCurrentUICulture = value;
                //Preferences.Set("language", value.Name);
            }
        }
    }
}